<h1>Availible Listing For Rent</h1>
<div class=" d-flex flex-wrap">
        <div class="card col-md-3" ng-repeat="card in rc.rentalArr">
            <img class="card-img-top" ng-src="images/{{card.image_path}}">
            <div class="card-body">
                <li>{{card.city}}</li>
                <li>{{card.sqft}}</li>
                <li>{{card.cost}}</li>
                <button ng-click="rc.deleteListing(card.id)" class="btn-danger">X</button>
            </div>
        </div>
    </div>